@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "neon";
  src: url('/neon-future/Neon Future.ttf');
}


#name{
  font-family: "neon";
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: neon-text;
  src: url('/neons/Neons_demo.otf');
}

*{
  font-size: 16px;
  text-align: center;
  font-family: 'Bodoni';
}


.heading{
  font-family: "neon";
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;

 
}

.neon-border{
  box-shadow: 0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 90px #0ff,
  0 0 100px #0ff,
  0 0 150px #0ff;
}

.neon1:hover{
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.neon2:hover{
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}


.image-container {
  position: relative;
  overflow: hidden;
  width: 240px;
  height: 240px;
}

.image-container:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}


.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

.progress-value {
  /* animation: load 3s normal forwards; */
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes  load{
  0% { width: 0; }
  100% { width: 68%; }
}

.progress-html{
  animation: html 3s normal forwards;
}

.progress-css{
  animation: css 3s normal forwards;
}

.progress-javascript{
  animation: javascript 3s normal forwards;
}

.progress-nextjs{
  animation: nextjs 3s normal forwards;
}

.progress-reactjs{
  animation: reactjs 3s normal forwards;
}

.progress-java{
  animation: java 3s normal forwards;
}

.progress-cpp{
  animation: cpp 3s normal forwards;
}

.progress-figma{
  animation: figma 3s normal forwards;
}

.progress-fresco{
  animation: fresco 3s normal forwards;
}

@keyframes  html{
  0% { width: 0; }
  100% { width: 89%; }
}

@keyframes  css{
  0% { width: 0; }
  100% { width: 90%; }
}

@keyframes  javascript{
  0% { width: 0; }
  100% { width: 65%; }
}

@keyframes  reactjs{
  0% { width: 0; }
  100% { width: 45%; }
}

@keyframes  nextjs{
  0% { width: 0; }
  100% { width: 55%; }
}

@keyframes  java{
  0% { width: 0; }
  100% { width: 50%; }
}

@keyframes  cpp{
  0% { width: 0; }
  100% { width: 75%; }
}

@keyframes  figma{
  0% { width: 0; }
  100% { width: 80%; }
}

@keyframes  fresco{
  0% { width: 0; }
  100% { width: 95%; }
}